UpdatedModel/PenaltiesAndIncome/
UpdatedModel/Figures/
UpdatedModel/OtherResults/
UpdatedModel/__pycache__/
UpdatedModel/ModelOutput/
UpdatedModel/ModelCode/__pycache__/
UpdatedModel/ModelLogs/
UpdatedModel/RawData/
UpdatedModel/ProcessedData/
UpdatedModel/FunctionsStoOptAll
UpdatedModel/AnalyzingResults
UpdatedModel/FunctionsNetwork.py
UpdatedModel/GetPenalties.html
UpdatedModel/Main.html
UpdatedModel/Plotting.html
UpdatedModel/InputData/Visualization/
UpdatedModel/PlottingScripts/__pycache__/