UpdatedModel/PenaltiesAndIncome/
UpdatedModel/Figures/
UpdatedModel/OtherResults/
UpdatedModel/__pycache__/
UpdatedModel/ModelOutput/
UpdatedModel/ModelCode/__pycache__/
UpdatedModel/ModelLogs/
UpdatedModel/FunctionsStoOptAll
UpdatedModel/AnalyzingResults
